<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>sewaTRON BETA</title>
    <style>
        .padding-0{
    padding-right:0;
    padding-left:0;
}
.donation{
    margin-top: 10px;
}
.donation h2{
    font-weight: bolder;
}
    </style>
  </head>
  <body style="background-color: transparent;">
    <div class="container donation" id="main-panel" style="visibility: hidden;">
        <div class="row no-gutters">
            <div class="col-4">
                <img src="/images/<%= image %>" class="img-fluid" width="150px" height="auto" style="margin-top: 15px;">
            </div>
            <div class="col-6 donation" id="donateinfo" style="margin-left: -170px;color: <%= color %>;">
                <h2 id="donator">Donator</h2>
                <h5 id="amount">Amount : 20px</h5>
                <h5 id="remarks">Remarks : Thanks </h5>
            </div>
            
        </div>
    </div>
    <button onclick="triggerClick();" style="display: none;" id="buttonlol">Play Audio</button>
    <audio id="mySound" src="/audio/<%= audio %>"></audio>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
       let minimum = '<%= minimum %>';
       let delay = '<%= delay %>';
       let color = '<%= color %>';
    </script>
    <script src="/js/socket.js"></script>
    <script>

    </script>
</body>
</html>